#Ignore data
coulomb.npz
data.xyz
energies.txt
free.xyz
spectra.npz
spectra_normalized.npz
spectra_sigma0.1.txt
spectra_sigma0.3.txt
spectra_sigma0.5.txt
spectra_500_sigma0.1.txt
spectra_500_sigma0.3.txt
spectra_500_sigma0.5.txt
spectra_700_sigma0.1.txt
spectra_700_sigma0.3.txt
spectra_700_sigma0.5.txt
predictions/
.DS_Store
Archive/
__pycache__/
results/
loss_comparison_old.py
erro_plot.py
traintest_losses_datapointdensity.py
sigma_comparison_rmse.py
datapoint_density_comparison.py
error_plot_lossfunctions.py
plot_spectra_datapointdensity.py
upload_to_cest/
